APP_NAME=PhpFramework
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000

# Format identique à Symfony/Doctrine
# MySQL   : mysql://user:password@127.0.0.1:3306/my_database
# PostgreSQL: pgsql://user:password@127.0.0.1:5432/my_database
# SQLite  : sqlite:////absolute/path/to/db.sqlite
DATABASE_URL=mysql://root:@127.0.0.1:3306/my_database
